body {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-top: 0px;
    height: 80px;
    text-align: center;
    background-color: #13456A ;
    padding-top: 25px;
}

nav {
     margin-top: -21px;
}

h2 {
   background-color: #136A56;
   text-align: center;
}


main {
    margin-top: -21px;
    height: 100%;
    width: 100%;
    background-color: #136A56;
    display: flex;
    flex-wrap: wrap;
}

    

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200%;
    height: 100%;
    margin: auto;
}

.card {
     padding-top: 15px;
    margin: 20px;
    width: 300px;
    height: 530px;
    border: 2px solid;
    text-align: center ;
      border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

h3{
   height: 25px;
   background-color: #6B0E0E;
    padding: 20px;
    font-size: 23px;
    font-weight: 300;
    margin-top: -17px;
    width: 100%;
    text-align: center;
}


h4{
    padding-top: 10px;
    margin-top: -26px;
    height: 30px;
   font-family: 'Roboto Flex';
 font-size: 15px;
    font-weight: 300;
    background-color: #C43D1F;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    margin-top: -29px;
    object-fit: cover;
}

footer {
    height: 15vh;
    background-color: #496060;
}

.footer {

}
